<lib-toastify-toast-container [autoClose]="disableAutoClose? 0 : autoClose" [hideProgressBar]="hideProgress"
  [newestOnTop]="newestOnTop" [closeOnClick]="closeOnClick" [pauseOnHover]="pauseDelayHover"
  [pauseOnVisibilityChange]="pauseVisibilityChange" [preventDuplicates]="preventDuplicates">
</lib-toastify-toast-container>

<input class="buscar" type="text" (input)="onSearch($event)" placeholder="Buscar Livro">

<div class="conteudo">
  <button mat-fab extended color="primary" (click)="openDialog()">
    <mat-icon><span class="material-symbols-outlined">
        add
      </span></mat-icon>
    Add Livro
  </button>
  <div *ngFor="let livro of filtroLivros">
    <mat-card class="livro">
      <mat-card-content>{{livro.titulo}} </mat-card-content>
      <mat-card-content>{{livro.genero.nome}}</mat-card-content>
      <mat-card-content>{{livro.valor}}</mat-card-content>
      <div class="acoes">
        <button mat-mini-fab color="accent" (click)="openDialog(livro)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>